@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-outline-primary {
    @apply bg-transparent hover:bg-blastPrimary-200 text-blastPrimary-100 border-blastPrimary-100  hover:text-white border-2 border-opacity-100 rounded-full py-2;
  }
}

* {
  font-family: IRANSans;
  scroll-behavior: smooth;
}

body {
  background: #0a192f !important;
}

.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}

.clip-path-img{
  clip-path: polygon(15% 0%, 85% 0, 100% 15%, 100% 87%, 50% 100%, 50% 100%, 0 87%, 0 15%);
}

.fuck-cick {
  pointer-events: none;
}

.glassmorphism{
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );  
}


@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url("font/IRANSans/eot/IRANSansWeb_Black.eot");
  src: url("font/IRANSans/eot/IRANSansWeb_Black.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("font/IRANSans/woff2/IRANSansWeb_Black.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("font/IRANSans/woff/IRANSansWeb_Black.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("font/IRANSans/ttf/IRANSansWeb_Black.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("font/IRANSans/eot/IRANSansWeb_Bold.eot");
  src: url("font/IRANSans/eot/IRANSansWeb_Bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("font/IRANSans/woff2/IRANSansWeb_Bold.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("font/IRANSans/woff/IRANSansWeb_Bold.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("font/IRANSans/ttf/IRANSansWeb_Bold.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("font/IRANSans/eot/IRANSansWeb_Medium.eot");
  src: url("font/IRANSans/eot/IRANSansWeb_Medium.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("font/IRANSans/woff2/IRANSansWeb_Medium.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("font/IRANSans/woff/IRANSansWeb_Medium.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("font/IRANSans/ttf/IRANSansWeb_Medium.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("font/IRANSans/eot/IRANSansWeb_Light.eot");
  src: url("font/IRANSans/eot/IRANSansWeb_Light.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("font/IRANSans/woff2/IRANSansWeb_Light.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("font/IRANSans/woff/IRANSansWeb_Light.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("font/IRANSans/ttf/IRANSansWeb_Light.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("font/IRANSans/eot/IRANSansWeb_UltraLight.eot");
  src: url("font/IRANSans/eot/IRANSansWeb_UltraLight.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("font/IRANSans/woff2/IRANSansWeb_UltraLight.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("font/IRANSans/woff/IRANSansWeb_UltraLight.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("font/IRANSans/ttf/IRANSansWeb_UltraLight.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("font/IRANSans/eot/IRANSansWeb.eot");
  src: url("font/IRANSans/eot/IRANSansWeb.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("font/IRANSans/woff2/IRANSansWeb.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("font/IRANSans/woff/IRANSansWeb.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("font/IRANSans/ttf/IRANSansWeb.ttf")
      format("truetype");
}
